<div class="layout">
	<div class="container-fluid wrap">
		<div class="row middle-md middle-xs middle-lg center-md center-xs center-lg" style="height:100vh;">
			<div class="col-xs-4 col-md-4 col-lg-4">
				<el-card class="box-card" v-loading="loading" element-loading-text="Authenticating...">
					<h1>Package.ai</h1>
					<form action="">
						<el-input
								placeholder="Username"
								icon="warning"
								v-model="user.username">
						</el-input>
						<div style="height:20px;"></div>
						<el-input
								placeholder="Password"
								icon="warning"
								v-model="user.password">
						</el-input>
						<div style="height:20px;"></div>
						<el-checkbox v-model="checked" style="float:left;margin-bottom:20px;">Remember me</el-checkbox>
						<div style="height:20px;"></div>
						<el-button type="primary" icon="circle-check" style="width:100%;" @click="loading=!loading">Login</el-button>
						<div style="height:30px;"></div>
						<a href="">Forgot password ?</a>
					</form>
				</el-card>
			</div>
		</div>
	</div>
</div>